#board {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  margin: 50px auto;
}

#board div {
  width: 33.3%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgray;
  margin: 0;
  font-size: 2em;
}